<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div th:replace="fragments :: navbar"></div>

<div class="content">
    <h1>Welcome to the Home Page</h1>
    <p>This is the home page of your application.</p>
    <p>Here, you can provide an overview of your application's features and provide navigation links to other pages.</p>
</div>

<footer>
    <p>&copy; 2024 My Website. All rights reserved.</p>
</footer>
</body>
</html>