body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Background color for the body */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 20px; /* Increased padding */
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
    margin-right: 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
    flex: 1;
}

h1 {
    color: #333;
}

p {
    color: #666;
    line-height: 1.5;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left li {
    margin-right: 10px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right li {
    margin-left: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    flex-shrink: 0;
}

footer p {
    margin: 0;
}